*.accdb
*.bak
*.bkp
*.csv
*.db
*.exe*
*.html
*.lnk*
*.log
*.pdf
*.pdi
*.RTF
*.rtm
*.sed~
*.slk
*.TIF
*.txt
*.txt~
*.xls
*.xlsx
*.zip
*.chm
*.docx
*.pyc
*.csv
*.ico
*.jpg
*.msi
*.ods
*.pdf
*.png
*.dll
nogit/
tmp/
.ipynb_checkpoints/
*.pbix
*.pbit
ordertimeapitest.ipynb